* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1250px;
  margin: auto;
  padding: 0px 32px;
}

.navbar {
  background: transparent !important;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

.navbar nav .nav-p1 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 16px 0px 0px;
}

.navbar nav ul li {
  list-style: none;
  display: inline;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #00000099;
  padding: 27.2px 25px;
  font-size: 14px;
  font-weight: 500;
}

.section1 {
  width: 100%;
  min-height: 100vh;
  padding: 200px 0px;
  background-color: #d0eaf3;
  position: relative;
}

.section1 .sec1-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section1 .sec1-in .sec1-fortext {
  width: 50%;
}

.section1 .sec1-in .sec1-fortext .sec1-p1 {
  color: #052C43;
  font-size: 48px;
  margin: 0px 0px 8px;
  line-height: 1.2;
  font-weight: 200;
}

.section1 .sec1-in .sec1-fortext .sec1-p1 span {
  font-weight: 700;
}

.section1 .sec1-in .sec1-fortext .sec1-p2 {
  color: #00000066;
  font-size: 18px;
  margin: 0px 0px 16px;
  font-weight: 400;
  line-height: 1.8;
  max-width: 450px;
}

.section1 .sec1-in .sec1-fortext .sec1-btn {
  color: #267aa4 !important;
  font-size: 13px;
  background-color: white;
  padding: 16px 24px;
  border: 1px solid #fff !important;
  border-radius: 40px;
  -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  font-weight: 700;
  letter-spacing: 1px;
}

.section1 .sec1-in .sec1-fortext .sec1-btn:hover {
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.section1 .sec1-in .sec1-forimg {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(/images/s1-img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section2 {
  width: 100%;
  padding: 10px 12px;
}

.section2 .sec2-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 .sec2-in .sec2-boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section2 .sec2-in .sec2-boxs .sec2-box {
  width: 24%;
  background-color: #F5EFD8;
  padding: 40px;
}

.section2 .sec2-in .sec2-boxs .sec2-box i {
  color: white;
  font-size: 40px;
  padding: 13px 9px;
  border-radius: 9999px;
  background-color: orange;
}

.section2 .sec2-in .sec2-boxs .sec2-box .sec2-box-p1 {
  color: #052C43;
  font-size: 18px;
  margin: 15px 0px 8px;
  font-weight: 500;
}

.section2 .sec2-in .sec2-boxs .sec2-box .sec2-box-p2 {
  color: #808080;
  font-size: 16px;
  font-weight: 400;
}

.section3 {
  width: 100%;
  padding: 150px 0px;
  background-image: url(/images/s3-bgimg.webp);
  background-size: cover;
  background-position: center;
}

.section3 .sec3-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .sec3-in .sec3-fortext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40rem;
}

.section3 .sec3-in .sec3-fortext .sec3-p1 {
  color: #0000004D;
  font-size: 13px;
  margin: 0px 0px 5px;
  font-weight: 600;
}

.section3 .sec3-in .sec3-fortext .sec3-p2 {
  color: #052C43;
  font-size: 38px;
  margin: 0px 0px 24px;
  font-weight: 500;
  line-height: 1.4;
  max-width: 555px;
}

.section3 .sec3-in .sec3-fortext .sec3-p3 {
  color: #808080;
  font-size: 16px;
  margin: 0px 0px 16px;
  line-height: 1.8;
  font-weight: 400;
  max-width: 555px;
}

.section3 .sec3-in .sec3-fortext .sec3-forvideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-top: 1.5rem;
}

.section3 .sec3-in .sec3-fortext .sec3-forvideo i {
  color: white;
  background-color: #cf7500;
  font-size: 18px;
  padding: 30px 32px;
  border-radius: 9999px;
  cursor: pointer;
}

.section3 .sec3-in .sec3-fortext .sec3-forvideo span {
  color: #cf7500;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.section4 {
  width: 100%;
  padding: 100px 0px;
  background-color: #F7F7F7;
}

.section4 .sec4-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section4 .sec4-in .sec4-p1 {
  color: #0000004D;
  font-size: 13px;
  margin: 0px 0px 5px;
  font-weight: 600;
}

.section4 .sec4-in .sec4-p2 {
  color: #052C43;
  font-size: 38px;
  margin: 0px 0px 48px;
  font-weight: 500;
  line-height: 1.4;
}

.section4 .sec4-in .sec4-boxs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .sec4-in .sec4-boxs .sec4-box {
  width: 32%;
  padding: 30px;
  border-radius: 4px;
  background-color: white;
  position: relative;
}

.section4 .sec4-in .sec4-boxs .sec4-box .bi-quote {
  font-size: 20px;
  color: white;
  background-color: #cf7500;
  padding: 8px 10px;
  border-radius: 9999px;
  position: absolute;
  top: -20px;
}

.section4 .sec4-in .sec4-boxs .sec4-box .sec4-box-p1 {
  color: #808080;
  font-size: 16px;
  margin: 0px 0px 24px;
  line-height: 1.8;
  font-weight: 400;
}

.section4 .sec4-in .sec4-boxs .sec4-box .sec4-box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.section4 .sec4-in .sec4-boxs .sec4-box .sec4-box-info .sec4-box-info-forimg img {
  width: 90px;
  height: 90px;
  border-radius: 9999px;
}

.section4 .sec4-in .sec4-boxs .sec4-box .sec4-box-info .sec4-box-info-fortext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.section4 .sec4-in .sec4-boxs .sec4-box .sec4-box-info .sec4-box-info-fortext .p1 {
  color: #cf7500;
  font-size: 20px;
  font-weight: 500;
}

.section4 .sec4-in .sec4-forcarusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 3rem;
}

.section4 .sec4-in .sec4-forcarusel .sec4-forcarusel-line {
  height: 1px;
  width: 30px;
  background-color: #DDDDDD;
  cursor: pointer;
}

.section5 {
  width: 100%;
  padding: 100px 0px;
}

.section5 .sec5-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section5 .sec5-in .sec5-p1 {
  color: #0000004D;
  font-size: 13px;
  margin: 0px 0px 5px;
  font-weight: 600;
}

.section5 .sec5-in .sec5-p2 {
  color: #052C43;
  font-size: 38px;
  margin: 0px 0px 8px;
  font-weight: 500;
  line-height: 1.4;
}

.section5 .sec5-in .sec5-cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 2rem;
}

.section5 .sec5-in .sec5-cards .sec5-card {
  width: 48%;
  height: 300px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section5 .sec5-in .sec5-cards .sec5-card .sec5-card-forimg {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.section5 .sec5-in .sec5-cards .sec5-card .sec5-card-fortext {
  width: 46%;
  margin-left: 1.5rem;
}

.section5 .sec5-in .sec5-cards .sec5-card .sec5-card-fortext i {
  color: #cf7500;
  font-size: inherit;
}

.section5 .sec5-in .sec5-cards .sec5-card .sec5-card-fortext span {
  color: #808080;
  font-size: 12px;
  font-weight: 500;
  margin: 0px 16px 0px 5px;
}

.section5 .sec5-in .sec5-cards .sec5-card .sec5-card-fortext .sec5-card-p1 {
  color: #052C43;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin: 1.5rem 1.5rem 1.5rem 0px;
}

.section5 .sec5-in .sec5-cards .sec5-card .sec5-card-fortext .sec5-card-p1:hover {
  cursor: pointer;
  color: #cf7500;
  -webkit-transition: .5s;
  transition: .5s;
}

.section5 .sec5-in .sec5-cards .sec5-card .sec5-card-fortext .sec5-card-p2 {
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  margin: 1.5rem 1.5rem 1.5rem 0px;
  line-height: 1.8;
}

.footer {
  width: 100%;
  padding: 50px 0px;
  background-color: #ABD6EB;
}

.footer footer {
  text-align: center;
}

.footer footer .footer-p1 {
  color: #808080;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
}

.footer footer .footer-p1 span {
  cursor: pointer;
  color: #6DB7DD;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */